:root {
  --primary-color: #396df2;
  --name-color: #172b4d;
  --btn-connect-color: #7f8cff;
  --logo-color: #6070ff;
  --social-color: #505f79;
  --desc-color: #344563;
  --body-bg-color: #e5e5e5;
  --card-role-color: #7a869a;
  --card-tag-bg-color: #ebebff;
  --card-border-color: #dfe1e6;
  --cat-hr-color: #dfe1e6;
  --cat-i-color: #acb7c3;
  --btn-hover-color: #6070ff;
  --textarea-color: #b3bac5;
  --white: white;
  --logo-ft-weight: 700;
  --logo-l-height: 1.25rem;
  --logo-ft-size: 1.125rem;
  --name-ft-size: 2.5rem;
  --name-ft-weight: 700;
  --name-l-height: 3.25rem;
  --desc-ft-size: 1rem;
  --desc-l-height: 1.5rem;
  --desc-ft-weight: 400;
  --btn-connect-ft-size: 1rem;
  --btn-connect-l-height: 1.5rem;
  --btn-connect-ft-weight: 500;
  --social-width: 1.249rem;
  --social-height: 1.248rem;
  --hamburger-icon-width: 1.125rem;
  --hamburger-icon-height: 0.75rem;
  --card-title-ft-size: 2rem;
  --card-title-l-height: 2.75rem;
  --card-title-ft-weight: 700;
  --card-client-ft-size: 0.813rem;
  --card-client-l-height: 1rem;
  --card-client-ft-weight: 600;
  --card-desc-ft-size: 0.938rem;
  --card-desc-l-height: 1.5rem;
  --card-desc-ft-weight: 400;
  --card-tag-ft-size: 0.75rem;
  --card-tag-l-height: 1rem;
  --card-tag-ft-weight: 500;
  --card-btn-ft-size: 1.063rem;
  --card-btn-l-height: 1.5rem;
  --card-btn-ft-weight: 500;
  --cat-h2-ft-size: 1.25rem;
  --cat-h2-l-height: 1.5rem;
  --contact-title-ft-size: 2.5rem;
  --contact-title-line-height: 3.25rem;
  --contact-title-ft-weight: 700;
  --contact-desc-p-ft-size: 1.25rem;
  --contact-desc-p-line-height: 1.75rem;
  --contact-desc-p-ft-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--body-bg-color);
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 1.5rem;
  height: 3rem;
}

/* Header text logo */
header a {
  color: var(--logo-color);
  font-size: var(--logo-ft-size);
  line-height: var(--logo-l-height);
  text-decoration: none;
  font-weight: var(--logo-ft-weight);
}

/* Header humburger icon */
.hamburger-icon {
  width: var(--hamburger-icon-width);
  height: var(--hamburger-icon-height);
}

header .desktop-nav {
  display: none;
}

/* Hero section */
#hero {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 0 1.5rem;
  height: 37.75rem;
  border-radius: 0 0 0 5rem;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Hero name */
.name {
  padding-top: 7.125rem;
  margin-bottom: 0.75rem;
  color: var(--name-color);
  font-size: var(--name-ft-size);
  font-weight: var(--name-ft-weight);
  line-height: var(--name-l-height);
}

/* Hero description */
.desc {
  margin-bottom: 0.75rem;
  color: var(--desc-color);
  font-size: var(--desc-ft-size);
  font-weight: var(--desc-ft-weight);
  line-height: var(--desc-l-height);
}

/* Lest's connect */
.btn-connect {
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  color: var(--btn-connect-color);
  font-size: var(--btn-connect-ft-size);
  font-weight: var(--btn-connect-ft-weight);
  line-height: var(--btn-connect-l-height);
}

/* Social hero icon */

.card-content ul {
  padding: 0;
  display: flex;
}

.techno .category ul {
  padding: 0;
  margin-bottom: 2.25rem;
}

#hero ul {
  display: flex;
  padding: 0;
}

ul li {
  list-style: none;
}

ul li a img {
  width: var(--social-width);
  height: var(--social-height);
  color: var(--social-color);
  margin-right: 1.25rem;
}

/* Work section */
#works {
  padding: 7.125rem 1.5rem;
  display: grid;
  grid-template-columns: auto;
}

.card {
  margin-bottom: 5.5rem;
  padding: 1rem 1rem 0 1rem;
  background-color: white;
  border: 1px solid var(--card-border-color);
  border-radius: 1rem;
  text-align: center;
}

.card-content {
  text-align: start;
}

.card img {
  margin-bottom: 0.75rem;
}

.card-content h1 {
  font-size: var(--card-title-ft-size);
  font-weight: var(--card-title-ft-weight);
  color: var(--name-color);
  line-height: var(--card-title-l-height);
}

.card-content .info {
  display: flex;
  align-items: center;
}

.client,
.role,
.year,
span {
  margin-right: 0.75rem;
}

.card-content h2 {
  font-size: var(--card-client-ft-size);
  font-weight: var(--card-client-ft-weight);
  line-height: var(--card-client-l-height);
  color: var(--desc-color);
  text-transform: uppercase;
}

.role,
.year,
span {
  color: var(--card-role-color);
}

.card-content .info span {
  font-size: 1.875rem;
}

.card-content .card-desc {
  color: var(--desc-color);
  font-size: var(--card-desc-ft-size);
  font-weight: var(--card-desc-ft-weight);
  line-height: var(--card-desc-l-height);
  margin-bottom: 0.75rem;
}

.card-content li {
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.25rem 0.75rem;
  background-color: var(--card-tag-bg-color);
  border-radius: 0.5rem;
  font-size: var(--card-tag-ft-size);
  color: var(--logo-color);
  font-weight: var(--card-tag-ft-weight);
  line-height: var(--card-tag-l-height);
}

.card-content button {
  background-color: var(--white);
  padding: 0.75rem;
  border: 1px solid var(--logo-color);
  border-radius: 0.5rem;
  margin-bottom: 1.75rem;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--logo-color);
  font-size: var(--card-btn-ft-size);
  font-weight: var(--card-btn-ft-weight);
  line-height: var(--card-btn-l-height);
}

.about-content button {
  background-color: var(--white);
  padding: 0.75rem;
  border: 1px solid var(--logo-color);
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--logo-color);
  font-size: var(--card-btn-ft-size);
  font-weight: var(--card-btn-ft-weight);
  line-height: var(--card-btn-l-height);
}

.form button {
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.063rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: var(--btn-hover-color);
}

.card-content button:hover {
  color: var(--white);
  background-color: var(--btn-hover-color);
}

/* About MySelf Section */
#about-section {
  margin-top: -5rem;
  padding-bottom: 12rem;
  background-color: var(--white);
  border-radius: 0 5rem 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-myself-info {
  padding: 0 1.5rem;
}

/* Social about icon */
.about-content .icons {
  display: flex;
  padding-left: 0.938rem;
  margin-bottom: 1.375rem;
}

.about-content button:hover {
  color: var(--white);
  background-color: var(--btn-hover-color);
}

.about-content .btn-connect {
  margin-bottom: 1.625rem;
}

.techno {
  padding: 0 2.25rem;
}

.techno .categories {
  margin-bottom: 1.438rem;
}

.techno .category .categories {
  display: flex;
  justify-content: space-between;
}

.techno .category .categories h2 {
  font-size: var(--cat-h2-ft-size);
  line-height: var(--cat-h2-l-height);
  font-weight: 500;
}

hr {
  color: var(--cat-hr-color);
  margin-bottom: 1.5rem;
}

.techno .category .categories i {
  color: var(--cat-i-color);
  margin-right: 2rem;
  cursor: pointer;
}

.techno .category img {
  margin-right: 1rem;
}

.techno .category li {
  display: flex;
  align-items: center;
  padding: 0.563rem 0.75rem;
  background-color: #f7f7f9;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
}

/* Contact form */
#contact-form {
  padding: 1.5rem;
  margin-top: -4rem;
  background-color: var(--btn-hover-color);
  background-image: url("../images/contact-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  border-radius: 5rem 0 0 0;
}

.contact-content {
  display: flex;
  flex-flow: column;
}

.contact-head {
  text-align: center;
  color: var(--white);
}

.contact-head h1 {
  font-size: var(--contact-title-ft-size);
  font-weight: var(--contact-title-ft-weight);
  line-height: var(--contact-title-line-height);
  padding-top: 6.438rem;
  padding-bottom: 0.75rem;
}

.contact-head p {
  font-size: var(--contact-desc-p-ft-size);
  font-weight: var(--contact-desc-p-ft-weight);
  line-height: var(--contact-desc-p-line-height);
  padding-bottom: 3.25rem;
}

.form input[type=text] {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 1rem;
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: var(--name-color);
}

.form input[type=email] {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 1rem;
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: var(--name-color);
}

.form textarea {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 1rem;
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: var(--textarea-color);
  font-family: Poppins, sans-serif;
}

.form input[type=text]::placeholder {
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: var(--name-color);
}

.form input[type=email]::placeholder {
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: var(--name-color);
}

.form textarea::placeholder {
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: var(--textarea-color);
}

.form button:hover {
  color: var(--white);
  background-color: var(--btn-hover-color);
  border: 1px solid var(--white);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  header img {
    display: none;
  }

  header {
    padding: 2rem 9.688rem 0 9.688rem;
  }

  header ul {
    display: flex;
  }

  header .desktop-nav {
    display: block;
  }

  header .desktop-nav li {
    margin-left: 2rem;
  }

  /* Hero section */
  #hero {
    background-color: white;
    padding: 0 1.5rem;
    height: 43.75rem;
    border-radius: 0 0 0 5rem;
    background-image: url("../images/desktop/desktop-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #about-section,
  #works,
  #contact-form {
    padding: 7.125rem 10rem;
  }

  .hero-content {
    margin: 0 16.25rem;
  }

  .hero-content .name {
    padding-top: 13rem;
    margin-bottom: 0.75rem;
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .desc {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .desktop-menu {
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 20;
    color: #344563;
    text-align: center;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 31rem;
    align-items: center;
  }

  .card-content {
    padding: 3rem;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card .desktop-card-img-right {
    order: 1;
  }

  .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-content .name {
    padding-top: 0;
    margin-bottom: 0.75rem;
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .techno .category ul {
    display: flex;
    flex-direction: row;
  }

  .techno .category li {
    display: block;
    margin: 0.75rem;
    width: 25%;
    border-radius: 0.5rem;
  }

  .techno .category li img {
    margin-bottom: 2rem;
  }

  #contact-form {
    background-image: url("../images/desktop/desktop-contact-bg.png");
    border-radius: none;
  }

  .contact-content {
    text-align: center;
    padding: 0 20rem;
  }
}
